*{
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: monospace;
    font-size: 60px;
    margin-top: 30px;
}

body{
    background-color: rgb(142, 241, 241);
    text-align: center;
    font-family: monospace;
}

.container{
    height: 70vh;
    display: flex;  
    justify-content: center;
    align-items: center; 
}

.game{
    height: 60vmin;
    width: 60vmin;
    gap: 2vmin;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
}

.box{
    height: 18vmin;
    width: 18vmin;
    background-color: white;
    border:none;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(23, 136, 136);
    font-family: monospace;
    font-size: 6vmin; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease;
}

.box:hover{
    cursor: pointer;
    background-color: rgb(197, 197, 197);
}

.box:active{
    transform:scale(0.9);
}

#reset  {
    margin-top: 20px;
    padding: 20px 30px;
    font-size: 16px;
    background-color: hsl(27, 85%, 51%);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease;
}

#reset:hover{
    cursor: pointer;
    background-color: hsl(27, 86%, 44%);
}

#reset:active{
    transform:scale(0.9);
}

.notification{
    background-color: rgb(67, 79, 236);
    height: 30vmin;
    width: 80vmin;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    display:none;
    flex-direction: column;
    
}

#msg{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 30px;
    font-family: monospace;
}

#ok{
    padding: 10px 20px;
    font-size: 16px;
    background-color: hsl(27, 85%, 51%);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#ok:hover{
    cursor: pointer;
    background-color: hsl(27, 86%, 44%);
}

#ok:active{
    transform:scale(0.9);
}